$base-8: 8px;
$base-16: 16px;
$base-24: 24px;
$base-32: 32px;
$base-64: 64px;

$z-index-lowest: -999;
$z-index-low: -99;
$z-index-0: 0;
$z-index-1: 1;
$z-index-med: 16;
$z-index-high: 90;
$z-index-highest: 999;
